/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f3e0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  z-index:2;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: url('images/austin.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
.header {
  text-align: center;
  background: url('images/austin.jpg') no-repeat top center ;
  background-size: contain;
  overflow: hidden;
  padding: 90px 0 240px 0;
  left:20px;
}
header {
  line-height: 1.5;
  z-index:1;
}
header .profile-image {
  margin-top: 20px;
  width: 160px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.18) rotate(-720deg);
  transition-duration: .3s;
  border-radius:30%;
  margin:40px 0 20px 0;
}
header .name {
  transition: all .7s;
  padding:0 25px;
  line-height: 35px;
  margin-top:25px;
}
header .name:hover {
color:#0399ff;
transition-duration: .8s;
cursor:pointer;
}
/* EXPERIENCE PAGE HEADER TEXT */
.header .exp {
  color:rgb(75, 181, 5);
  font-size:48px;
  text-shadow: 1px 1px rgb(45, 40, 40);

 }

.name:hover {
  cursor:pointer;
}
.location:hover {
  transform:rotate(3deg);
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #6d6f8b;
  color: white;;
  border-radius:6%;
  margin-top:35px;
}
.card {
  margin: 30px;
  padding: 20px 40px 10px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 16px;
  transition: all .5s;
}
/* WEBSITES CARD FOR EXPERIENCE PAGE */
.websites_card p {
color:rgb(25, 74, 111);
padding:0 10px 0 20px;}
.websites_card .card-heading {
padding-bottom:10px;
color:rgb(35, 13, 13);
} 
.background_card:hover, .websites_card:hover {
  border-color: #33225f;
}
.goals_card:hover {
  border-color: #ef225f;
}
.card-heading {
  font-family:"Caveat";
  text-shadow: 5px -1px 6px grey;
}
ul.skills {
  padding: 0;
  text-align: center;
  text-transform: lowercase;
}

.skills li {
  border-radius: 6px 0px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
  border-radius: 0px 6px;
}
/* CODE FOR THE WEBSITES CARD LINKS ON EXPERIENCE PAGE */ 
.linklist {
  margin-top:46px;
}
.flex li {
  list-style: none;
  line-height:35px;
  text-align: left;;
}
.flex li a {
  color:rgb(15, 11, 11);
  font-family:VT323;
  font-size:16px;
  border:.31px solid rgb(59, 9, 9);
  border-radius:3px;
  padding:0 15px 0 5px;
}
.flex li a:hover {
  color:white;
  background:black;
}
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .3;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 20px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
